

.header {
  background-color: #012714;
  width: 100%;
  box-shadow: 0 4px 8px rgba(2, 253, 190, 0.1);
}

.header .navbar-brand img {
  height: 40px;
}

.header .nav-link {
  color: #fdf6f6;
}

.header .nav-link:hover {
  color: #011806;
}

.d-flex {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: #abdef1;
  width: 250px;
  height: 100vh;
  color: #ffffff;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  flex-shrink: 0;
}

.dropdown-menu {
  background-color: #a08e8f !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: darkblue !important;
  color: white !important;
}

.sidebar .nav-link,
.sidebar .dropdown-item {
  color: #571e1e;
}

.sidebar .nav-link:hover,
.sidebar .dropdown-item:hover {
  background-color: #021036;
}

.logout-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.content {
  padding: 20px;
  background-color: #305274;
  margin-left: 250px;
  flex-grow: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: #f8f9fa;
  margin-left: 250px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #007bff;
}

 .btn {
  margin-right: 10px;
}

.card-header {
  background-color: #007bff;
  color: white;
}

.card-header h5 {
  margin-bottom: 0;
}

.table {
  font-size: 14px;
}

.table .btn {
  padding: 5px 10px;
}

.separator {
  border-top: 2px solid #28a745;
  margin: 20px 0;
}

.nav-dropdown:hover .dropdown-menu {
  display: block;
}

